/*
  Definition of colors
*/

  .ris {background-color:#ff9900;} /* riesel-k */
  .p100 {border-color:#000000; border-width:1px; border-style:solid;} /* 100th prime */
  .tt  {background-color:#bbbb99; font-weight:bold;} /* table heads */
  .ttt {background-color:#bbbb99;} /* grey backgound */
  .lnt  {text-decoration:line-through;} /*  line trough */

  .res1 {background-color:#ffff99; color:#FF0000;} /* reserved + red font*/
  .don1 {background-color:#00cc00; color:#FF0000;} /* done + red font */
  .don2 {background-color:#00cc00; color:#FFFF00;} /* done + yellow font */
  .red1 {color:#FF0000;} /* red font */

  /* colors for NPLB primes */
  .new {background-color:#00ff00;} /* new prime */
  .cnf {background-color:#00ffff;} /* confirmed prime */
  .knw {background-color:#ff9900;} /* known prime */
  /* colors for NPLB scoring */
  .up {background-color:#00cc00;} /* range up */
  .dn {background-color:#ff9900;} /* range down */

  a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; color:#0000ff;}
/*a:hover {text-decoration: underline overline; color: #000000; background: #FF00FF}*/
  body {background-color: #D0DFDF}

  .table1 {border-color:#000000; border-style:solid; border-width:2px; border-collapse: collapse;}
  .table1 td {border-color:#000000; border-style:solid; border-width:1px; padding:1px 5px 1px 5px;}
  .table1 th {border-color:#000000; border-style:solid; background-color:#bbbb99; border-width:1px; padding:1px 1px 1px 1px;}

  .table2 {border-color:#000000; border-style:none; border-collapse: collapse;}

  .td1 {border-color:#000000; border-style:none;}
  .td2 {border-color:#000000; border-style:solid; border-width:1px;}

  .box {font-size : 14px;}
  .boxover {font-size: 14px; font-weight: bold;}
