{% extends 'RPPDbMainBundle::base.html.twig' %}

{% block title %}
Riesel and Proth Prime Database
{% endblock title %}

{% block header %}
Riesel and Proth Prime Database (RPPDb)
{% endblock header %}

{% block content %}
This site is under construction.
<ul>
<li><a href="{{ path('_riesel_default_index') }}">Riesel Primes</a></li>
</ul>
{% endblock content %}
