{% extends "RPPDbRieselBundle::base.html.twig" %}

{% block title %}
First Twin
{% endblock title %}

{% block header %}
First odd <i>k</i> for which <i>k</i> &middot; 2<sup><i>n</i></sup>-1 and <i>k</i> &middot; 2<sup><i>n</i></sup>+1 are twins
{% endblock header %}

{% block content %}

<table class="table1">
<tr><th><i>n</i></th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th></tr>
{% for row in ks %}
<tr><th scope="row">{{ loop.index - 1 }}</th>
{% for twin in row %}
<td>{{ twin }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock content %}
