.sophie-germain {
	font-weight: bold;
}

.woodall {
	background-color: #777777;
	color: #d3d5ae;
	text-decoration: none;
	font-weight: bold;
}

.twin {
	background-color: #ff9900;
}

.comment {
	color: #ff0000;
	cursor: pointer;
}
